@import url("https://fonts.googleapis.com/css?family=Saira+Semi+Condensed|Sanchez|Satisfy|Scada|Scheherazade|Seaweed+Script|Zilla+Slab&display=swap");

$myColor: rgb(131, 12, 12);
$myColorLight: rgb(131, 62, 62);
$mrSuperDarkBlueFeet: rgba(15, 8, 41, 0.884);

$myBlue: rgb(88, 127, 185);
$myBlueTrim: rgba(206, 203, 236, 0.863);
$myBlueBackground: rgb(249, 251, 255);

$titlefont: "Sanchez";
$secondaryfont: "Seaweed+Script";

html,
body,
#root {
  margin: 0 auto;
  height: 100%;
}

.alert {
  border-radius: 0.25em;
  color: white;
  padding: 0.5em;
  font-size: 1.15em;
  display: flex;
  position: fixed;
  width: 100%;
  top: 2em;
}

.alert-success {
  background-color: green;
  border: 2px solid lightgreen;
}

.alert-danger {
  background-color: $myColor;
  border: 2px solid palevioletred;
}

.content {
  margin: 0 auto;
  padding-top: 5em;
  padding-bottom: 5em;
  width: 80%;
}

.app-container {
  background-color: $myBlueBackground;
  font-family: $secondaryfont;
  min-height: 100%;
  position: relative;
  text-align: justify;
  text-justify: inter-word;
}

.footer {
  background-color: $mrSuperDarkBlueFeet;
  bottom: 0;
  color: rgb(237, 236, 247);
  // left: 0;
  height: 2em;
  position: absolute;
  width: 100%;
}

h2 {
  font-family: $titlefont;
  text-align: center;
}

.paragraph {
  padding: 1em;
}

.btn {
  border: none;
  border-radius: 0.1em;
  color: white;
  margin-top: 1em;
  padding: 0.5em;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  margin-right: 2em;
  cursor: pointer;
}
.btn-primary {
  background-color: $myBlue;
}

.btn-secondary {
  background-color: $myBlueTrim;
}

.form {
  border: 0.05em solid $myBlueTrim;
  padding: 1em;
}

.formInput {
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: 2px solid #ccc;
  -webkit-border-radius: 1px;
  border-radius: 2px;
  width: 92%;
  font-size: 0.8em;
}

.formInput:focus {
  border-color: #333;
}

p {
  font-size: 1.1em;
}
