$myLightGreen: rgb(164, 233, 185);

.action-list {
  display: flex;
}

.action-item {
  padding: 1em;
  margin: 1em;
  border: 2px solid green;
  border-radius: 2em;
  background-color: rgb(0, 129, 39);
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
}

svg {
  color: white;
}

#tooltip {
  font-size: 2em;
}

.dashboard {
  display: inline-flex;
  background-color: rgb(229, 238, 237);
  border: 1px solid gray;
  border-radius: 0.5em;
}
