@import url("https://fonts.googleapis.com/css?family=Saira+Semi+Condensed|Sanchez|Satisfy|Scada|Scheherazade|Seaweed+Script|Zilla+Slab&display=swap");
$myBlue: royalBlue;
$myBlueTrim: rgba(203, 218, 236, 0.863);
$mrSuperDarkBlueFeet: rgba(15, 8, 41, 0.884);
$mybabground: rgba(255, 255, 255, 0.986);
$myColor: rgb(131, 12, 12);
$myColorLight: rgb(131, 62, 62);

.loader {
  color: royalblue;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 5em;
}

span {
  vertical-align: bottom;
}

.navbar {
  display: flex;
  position: fixed;
  background-color: $myColor;
  border-bottom: $myBlueTrim 0.25em solid;
  font-size: 1.25em;
  width: 100%;
  height: 2em;
}

.navbar a {
  color: white;
  text-decoration: none;
  vertical-align: bottom;
}

.navLink {
  margin-right: 3em;
  display: flex;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.navLink :hover {
  background-color: $myColorLight;
  border-radius: 0.02em;
}
.title :hover {
  background-color: $myColorLight;
  padding-bottom: 0.2em;
  border-radius: 0.05em;
}

.navLink span {
  align-self: flex-end;
  line-height: 1.75em;
}

svg {
  margin-right: 0.25em;
}

$titlefont: "Sanchez";
$secondaryfont: "Scada";

.title {
  font-family: $titlefont;
  font-size: 1.25em;
  padding-right: 4em;
  margin-left: 0.5em;
}
